In [65]:
import pandas as pd
from sklearn.model_selection import train_test_split

In [66]:
df2 = pd.read_excel("2021MCMProblemC_DataSet.xlsx")

In [67]:
df2.head()

,GlobalID,Detection Date,Notes,Lab Status,Lab Comments,Submission Date,Latitude,Longitude
0,{5AC8034E-5B46-4294-85F0-5B13117EBEFE},2019-12-08 00:00:00,"One dead wasp seen in Blaine, and suspect flyi...",Positive ID,,2020-01-15,48.980994,-122.688503
1,{5EAD3364-2CA7-4A39-9A53-7F9DCF5D2041},2019-10-30 00:00:00,Hornet specimen sent to WSU,Positive ID,,2020-01-15,48.971949,-122.700941
2,{13B67BCB-AFCE-4100-AD2B-76EF178BA228},2020-01-15 00:00:00,"Massive loss of bees, decapitated. No hornet s...",Unverified,,2020-01-15,48.939200,-122.661300
3,{124B9BFA-7F7B-4B8E-8A56-42E067F0F72E},2019-09-19 00:00:00,This was the colony that was found and destroy...,Positive ID,"Thanks for adding this, and the great pictures!",2020-02-04,49.149394,-123.943134
4,{BBBA5BA0-CAFB-43D3-8F1D-FB2D9CF777E0},2019-08-31 00:00:00,I was cleaning my gutters when I heard a snapp...,Unverified,Thanks for this report. I can't verify it from...,2020-02-14,48.723779,-122.354431

In [68]:
df2.isna().sum()

GlobalID           0
Detection Date     0
Notes              0
Lab Status         0
Lab Comments       2
Submission Date    0
Latitude           0
Longitude          0
dtype: int64

In [69]:
df2.fillna("", inplace = True)

In [70]:
def lab_status(status):
    if(status == 'Positive ID'):
        return 0
    if(status == 'Negative ID'):
        return 1
    if(status == 'Unverified'):
        return 2
    return 3

df2['Lab Status'] = df2['Lab Status'].apply(lab_status)

In [71]:
df2.head()

,GlobalID,Detection Date,Notes,Lab Status,Lab Comments,Submission Date,Latitude,Longitude
0,{5AC8034E-5B46-4294-85F0-5B13117EBEFE},2019-12-08 00:00:00,"One dead wasp seen in Blaine, and suspect flyi...",0,,2020-01-15,48.980994,-122.688503
1,{5EAD3364-2CA7-4A39-9A53-7F9DCF5D2041},2019-10-30 00:00:00,Hornet specimen sent to WSU,0,,2020-01-15,48.971949,-122.700941
2,{13B67BCB-AFCE-4100-AD2B-76EF178BA228},2020-01-15 00:00:00,"Massive loss of bees, decapitated. No hornet s...",2,,2020-01-15,48.939200,-122.661300
3,{124B9BFA-7F7B-4B8E-8A56-42E067F0F72E},2019-09-19 00:00:00,This was the colony that was found and destroy...,0,"Thanks for adding this, and the great pictures!",2020-02-04,49.149394,-123.943134
4,{BBBA5BA0-CAFB-43D3-8F1D-FB2D9CF777E0},2019-08-31 00:00:00,I was cleaning my gutters when I heard a snapp...,2,Thanks for this report. I can't verify it from...,2020-02-14,48.723779,-122.354431

In [72]:
df2.dropna()

,GlobalID,Detection Date,Notes,Lab Status,Lab Comments,Submission Date,Latitude,Longitude
0,{5AC8034E-5B46-4294-85F0-5B13117EBEFE},2019-12-08 00:00:00,"One dead wasp seen in Blaine, and suspect flyi...",0,,2020-01-15,48.980994,-122.688503
1,{5EAD3364-2CA7-4A39-9A53-7F9DCF5D2041},2019-10-30 00:00:00,Hornet specimen sent to WSU,0,,2020-01-15,48.971949,-122.700941
2,{13B67BCB-AFCE-4100-AD2B-76EF178BA228},2020-01-15 00:00:00,"Massive loss of bees, decapitated. No hornet s...",2,,2020-01-15,48.939200,-122.661300
3,{124B9BFA-7F7B-4B8E-8A56-42E067F0F72E},2019-09-19 00:00:00,This was the colony that was found and destroy...,0,"Thanks for adding this, and the great pictures!",2020-02-04,49.149394,-123.943134
4,{BBBA5BA0-CAFB-43D3-8F1D-FB2D9CF777E0},2019-08-31 00:00:00,I was cleaning my gutters when I heard a snapp...,2,Thanks for this report. I can't verify it from...,2020-02-14,48.723779,-122.354431
...,...,...,...,...,...,...,...,...
4435,{153C4ACC-72AE-4D87-AA80-4C714417F8C6},2020-10-02 00:00:00,It was about an inch and a quarter in length. ...,3,,2020-10-23,47.145673,-122.566734
4436,{26DDF8E2-DA0C-4F87-A65A-233115BAFCCD},2020-08-29 00:00:00,I was stung several times on the 7th hole ov t...,3,,2020-10-23,48.997938,-122.729890
4437,{3E50801D-9DBB-43DE-8D32-31CFA88C74D9},2020-10-23 00:00:00,Found dead in humming bird feeder. Silverdale WA,3,,2020-10-23,47.651710,-122.692750
4438,{9BA7BDD9-01A5-4776-99B0-89FCE08CA53B},2020-10-19 00:00:00,I live on Bainbridge Island on a heavily woode...,3,,2020-10-23,47.690120,-122.509780
4439,{7BD09981-CC6F-4FF8-8395-DABFF0D07A96},2020-08-04 00:00:00,"At Cresap bay campground in Washington, my fam...",3,,2020-10-23,45.968985,-122.386562

In [73]:
df2['Lab Status'].value_counts()

2    2342
1    2069
3      15
0      14
Name: Lab Status, dtype: int64

In [74]:
del df2["GlobalID"]
del df2["Detection Date"]
del df2["Lab Comments"]
del df2["Submission Date"]
del df2["Latitude"]
del df2["Longitude"]

In [75]:
df2.head()

                                               Notes  Lab Status
0  One dead wasp seen in Blaine, and suspect flyi...           0
1                        Hornet specimen sent to WSU           0
2  Massive loss of bees, decapitated. No hornet s...           2
3  This was the colony that was found and destroy...           0
4  I was cleaning my gutters when I heard a snapp...           2

In [76]:
df2 = df2.dropna()

In [77]:
df2.head()

                                               Notes  Lab Status
0  One dead wasp seen in Blaine, and suspect flyi...           0
1                        Hornet specimen sent to WSU           0
2  Massive loss of bees, decapitated. No hornet s...           2
3  This was the colony that was found and destroy...           0
4  I was cleaning my gutters when I heard a snapp...           2

In [78]:
import nltk

In [79]:
from nltk.corpus import stopwords

In [80]:
stop = set(stopwords.words('english'))

In [81]:
from string import punctuation

In [82]:
stop.update(punctuation)

In [83]:
def get_simple_pos(tag):
    if tag.startswith('J'):
        return wordnet.ADJ
    elif tag.startswith('V'):
        return wordnet.VERB
    elif tag.startswith('N'):
        return wordnet.NOUN
    elif tag.startswith('R'):
        return wordnet.ADV
    else:
        return wordnet.NOUN

In [84]:
from nltk.stem import WordNetLemmatizer
from nltk import pos_tag
from nltk.corpus import wordnet

lemmatizer = WordNetLemmatizer()
def lemmatize_words(text):
    final_text = []
    for i in text.split():
        if i.strip().lower() not in stop:
            pos = pos_tag([i.strip()])
            word = lemmatizer.lemmatize(i.strip(),get_simple_pos(pos[0][1]))
            final_text.append(word.lower())
    return " ".join(final_text)

In [85]:
df2['Notes'] = df2['Notes'].astype(str)
df2.Notes = df2.Notes.apply(lemmatize_words)

In [86]:
df2.head()

                                               Notes  Lab Status
0       one dead wasp see blaine, suspect fly nearby           0
1                           hornet specimen sent wsu           0
2  massive loss bees, decapitated. hornet specime...           2
3  colony found destroyed nanaimo, bc sep 18, 201...           0
4  cleaning gutter heard snap noise come wall hou...           2

In [87]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(df2['Notes'],df2['Lab Status'], test_size = 0.2, random_state = 20)

In [88]:
from sklearn.feature_extraction.text import TfidfVectorizer

tv=TfidfVectorizer(min_df=0,max_df=1,use_idf=True,ngram_range=(1,3))
#transformed train reviews
tv_train_reviews=tv.fit_transform(x_train)
#transformed test reviews
tv_test_reviews=tv.transform(x_test)
print('Tfidf_train:',tv_train_reviews.shape)
print('Tfidf_test:',tv_test_reviews.shape)

Tfidf_train: (3552, 54160)
Tfidf_test: (888, 54160)

In [89]:
from sklearn.naive_bayes import MultinomialNB

#training the model
mnb=MultinomialNB()

#fitting the nb for tfidf features
mnb_tfidf=mnb.fit(tv_train_reviews,y_train)
print(mnb_tfidf)

MultinomialNB()

In [90]:
mnb_tfidf_predict=mnb.predict(tv_test_reviews)

In [91]:
from sklearn.metrics import classification_report,confusion_matrix,accuracy_score
from sklearn.feature_extraction.text import CountVectorizer

mnb_tfidf_score=accuracy_score(y_test,mnb_tfidf_predict)
print("mnb_tfidf_score :",mnb_tfidf_score)

mnb_tfidf_score : 0.5472972972972973

In [92]:
cv=CountVectorizer(min_df=0,max_df=1,binary=False,ngram_range=(1,3))
#transformed train reviews
cv_train_reviews=cv.fit_transform(x_train)
#transformed test reviews
cv_test_reviews=cv.transform(x_test)

In [93]:
#training the model
mnb=MultinomialNB()
#fitting the nb for bag of words
mnb_bow=mnb.fit(cv_train_reviews,y_train)
print(mnb_bow)
#fitting the nb for tfidf features
mnb_tfidf=mnb.fit(tv_train_reviews,y_train)
print(mnb_tfidf)

MultinomialNB()
MultinomialNB()

In [94]:
#Predicting the model for bag of words
mnb_bow_predict=mnb.predict(cv_test_reviews)
#Predicting the model for tfidf features
mnb_tfidf_predict=mnb.predict(tv_test_reviews)

In [95]:
#Accuracy score for bag of words
mnb_bow_score=accuracy_score(y_test,mnb_bow_predict)
print("mnb_bow_score :",mnb_bow_score)
#Accuracy score for tfidf features
mnb_tfidf_score=accuracy_score(y_test,mnb_tfidf_predict)
print("mnb_tfidf_score :",mnb_tfidf_score)

mnb_bow_score : 0.543918918918919
mnb_tfidf_score : 0.5472972972972973

In [96]:
import xgboost as xgb
seed = 4353

In [97]:
# Instatiation, fitting and predictions

xgb_ = xgb.XGBClassifier(
 learning_rate =0.1,
 n_estimators=1000,
 max_depth=5,
 min_child_weight=1,
 gamma=0,
 subsample=0.8,
 colsample_bytree=0.8,
 objective= 'multi:softmax',
 nthread=4,
 scale_pos_weight=1,
 seed= seed)

xgb_.fit(cv_train_reviews, y_train)
predictions = xgb_.predict(cv_test_reviews)

[16:07:37] WARNING: C:\Users\Administrator\workspace\xgboost-win64_release_1.2.0\src\learner.cc:516:
Parameters: { scale_pos_weight } might not be used.

  This may not be accurate due to some parameters are only used in language bindings but
  passed down to XGBoost core.  Or some parameters are not used but slip through this
  verification. Please open an issue if you find above cases.

In [98]:
# Model evaluation
from sklearn.metrics import confusion_matrix, classification_report, accuracy_score, f1_score

print(classification_report(y_test, predictions))
print(confusion_matrix(y_test, predictions))

xgb_f1 = round(f1_score(y_test, predictions, average= 'weighted'), 3)
xgb_accuracy = round((accuracy_score(y_test, predictions) * 100), 2)

print("Accuracy : " , xgb_accuracy , " %")
print("f1_score : " , xgb_f1)

              precision    recall  f1-score   support

           0       0.00      0.00      0.00         3
           1       0.00      0.00      0.00       397
           2       0.55      1.00      0.71       484
           3       0.00      0.00      0.00         4

    accuracy                           0.55       888
   macro avg       0.14      0.25      0.18       888
weighted avg       0.30      0.55      0.38       888

[[  0   0   3   0]
 [  0   0 397   0]
 [  0   0 484   0]
 [  0   0   4   0]]
Accuracy :  54.5  %
f1_score :  0.385

C:\Users\newbee\anaconda3\lib\site-packages\sklearn\metrics\_classification.py:1221: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

In [99]:
# Instatiation, fitting and predictions

from sklearn.ensemble import RandomForestClassifier

rfc=RandomForestClassifier(n_estimators= 10, random_state= seed)
rfc.fit(cv_train_reviews, y_train)
predictions = rfc.predict(cv_test_reviews)

In [100]:
# Model evaluation

print(classification_report(y_test, predictions))
print(confusion_matrix(y_test, predictions))

rfc_f1 = round(f1_score(y_test, predictions, average= 'weighted'), 3)
rfc_accuracy = round((accuracy_score(y_test, predictions) * 100), 2)

print("Accuracy : " , rfc_accuracy , " %")
print("f1_score : " , rfc_f1)

              precision    recall  f1-score   support

           0       0.00      0.00      0.00         3
           1       0.46      0.96      0.62       397
           2       0.75      0.10      0.18       484
           3       0.00      0.00      0.00         4

    accuracy                           0.48       888
   macro avg       0.30      0.26      0.20       888
weighted avg       0.62      0.48      0.37       888

[[  0   3   0   0]
 [  0 381  16   0]
 [  0 436  48   0]
 [  0   4   0   0]]
Accuracy :  48.31  %
f1_score :  0.374

C:\Users\newbee\anaconda3\lib\site-packages\sklearn\metrics\_classification.py:1221: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))