In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split

In [2]:
df2 = pd.read_excel("2021MCMProblemC_DataSet.xlsx")

In [3]:
df2.head()

                                 GlobalID  ...   Longitude
0  {5AC8034E-5B46-4294-85F0-5B13117EBEFE}  ... -122.688503
1  {5EAD3364-2CA7-4A39-9A53-7F9DCF5D2041}  ... -122.700941
2  {13B67BCB-AFCE-4100-AD2B-76EF178BA228}  ... -122.661300
3  {124B9BFA-7F7B-4B8E-8A56-42E067F0F72E}  ... -123.943134
4  {BBBA5BA0-CAFB-43D3-8F1D-FB2D9CF777E0}  ... -122.354431

[5 rows x 8 columns]

In [4]:
df2.isna().sum()

GlobalID           0
Detection Date     0
Notes              0
Lab Status         0
Lab Comments       2
Submission Date    0
Latitude           0
Longitude          0
dtype: int64

In [5]:
df2.fillna("", inplace = True)

In [6]:
def lab_status(status):
    if(status == 'Positive ID'):
        return 0
    if(status == 'Negative ID'):
        return 1
    if(status == 'Unverified'):
        return
    return

df2['Lab Status'] = df2['Lab Status'].apply(lab_status)

In [7]:
df2.head()

                                 GlobalID  ...   Longitude
0  {5AC8034E-5B46-4294-85F0-5B13117EBEFE}  ... -122.688503
1  {5EAD3364-2CA7-4A39-9A53-7F9DCF5D2041}  ... -122.700941
2  {13B67BCB-AFCE-4100-AD2B-76EF178BA228}  ... -122.661300
3  {124B9BFA-7F7B-4B8E-8A56-42E067F0F72E}  ... -123.943134
4  {BBBA5BA0-CAFB-43D3-8F1D-FB2D9CF777E0}  ... -122.354431

[5 rows x 8 columns]

In [8]:
df2.dropna()

                                    GlobalID  ...   Longitude
0     {5AC8034E-5B46-4294-85F0-5B13117EBEFE}  ... -122.688503
1     {5EAD3364-2CA7-4A39-9A53-7F9DCF5D2041}  ... -122.700941
3     {124B9BFA-7F7B-4B8E-8A56-42E067F0F72E}  ... -123.943134
6     {C4F44511-EA53-4FCF-9422-E1C57703720D}  ... -122.480035
8     {89C867F1-D5ED-48C8-9586-B705F5DA9838}  ... -123.105188
...                                      ...  ...         ...
4412  {5E01D3A1-46B2-4124-A9BD-9BB9D9873757}  ... -119.896162
4419  {04B3A8BE-2667-4A57-9E6A-D1C6D940F04E}  ... -120.460892
4420  {68887AEA-55BA-4FF8-BCD9-7D4082C065D0}  ... -122.785606
4421  {8D61FCC9-4D37-41FA-BDFC-E1403B3EA840}  ... -122.132495
4423  {8936D8CB-323F-45CE-90A0-5D1C343B6DF5}  ... -122.370925

[2083 rows x 8 columns]

In [9]:
df2['Lab Status'].value_counts()

1.0    2069
0.0      14
Name: Lab Status, dtype: int64

In [10]:
del df2["GlobalID"]
del df2["Detection Date"]
del df2["Lab Comments"]
del df2["Submission Date"]
del df2["Latitude"]
del df2["Longitude"]

In [11]:
df2.head()

                                               Notes  Lab Status
0  One dead wasp seen in Blaine, and suspect flyi...         0.0
1                        Hornet specimen sent to WSU         0.0
2  Massive loss of bees, decapitated. No hornet s...         NaN
3  This was the colony that was found and destroy...         0.0
4  I was cleaning my gutters when I heard a snapp...         NaN

In [12]:
df2 = df2.dropna()

In [13]:
df2.head()

                                               Notes  Lab Status
0  One dead wasp seen in Blaine, and suspect flyi...         0.0
1                        Hornet specimen sent to WSU         0.0
3  This was the colony that was found and destroy...         0.0
6  I’m not sure what this is, but it was the bigg...         1.0
8  slow moving, i have this in the freezer still ...         1.0

In [34]:
import nltk
nltk.download()

NLTK Downloader
---------------------------------------------------------------------------
    d) Download   l) List    u) Update   c) Config   h) Help   q) Quit
---------------------------------------------------------------------------
Downloader> d

Download which package (l=list; x=cancel)?
  Identifier> wordnet
    Downloading package wordnet to /root/nltk_data...
      Unzipping corpora/wordnet.zip.

---------------------------------------------------------------------------
    d) Download   l) List    u) Update   c) Config   h) Help   q) Quit
---------------------------------------------------------------------------
Downloader> q

True

In [24]:
from nltk.corpus import stopwords

In [26]:
stop = set(stopwords.words('english'))

In [27]:
from string import punctuation

In [28]:
stop.update(punctuation)

In [29]:
def get_simple_pos(tag):
    if tag.startswith('J'):
        return wordnet.ADJ
    elif tag.startswith('V'):
        return wordnet.VERB
    elif tag.startswith('N'):
        return wordnet.NOUN
    elif tag.startswith('R'):
        return wordnet.ADV
    else:
        return wordnet.NOUN

In [30]:
from nltk.stem import WordNetLemmatizer
from nltk import pos_tag
from nltk.corpus import wordnet

lemmatizer = WordNetLemmatizer()
def lemmatize_words(text):
    final_text = []
    for i in text.split():
        if i.strip().lower() not in stop:
            pos = pos_tag([i.strip()])
            word = lemmatizer.lemmatize(i.strip(),get_simple_pos(pos[0][1]))
            final_text.append(word.lower())
    return " ".join(final_text)

In [35]:
df2['Notes'] = df2['Notes'].astype(str)
df2.Notes = df2.Notes.apply(lemmatize_words)

In [36]:
df2.head()

                                               Notes  Lab Status
0       one dead wasp see blaine, suspect fly nearby         0.0
1                           hornet specimen sent wsu         0.0
3  colony found destroyed nanaimo, bc sep 18, 201...         0.0
6  i’m sure is, big look wasp/hornet i’ve ever se...         1.0
8      slow moving, freezer still think. saw 3 98588         1.0

In [37]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(df2['Notes'],df2['Lab Status'],test_size = 0.2 , random_state = 0)

In [38]:
from sklearn.feature_extraction.text import TfidfVectorizer

tv=TfidfVectorizer(min_df=0,max_df=1,use_idf=True,ngram_range=(1,3))
#transformed train reviews
tv_train_reviews=tv.fit_transform(x_train)
#transformed test reviews
tv_test_reviews=tv.transform(x_test)
print('Tfidf_train:',tv_train_reviews.shape)
print('Tfidf_test:',tv_test_reviews.shape)

Tfidf_train: (1666, 21381)
Tfidf_test: (417, 21381)

In [40]:
from sklearn.naive_bayes import MultinomialNB

#training the model
mnb=MultinomialNB()

#fitting the nb for tfidf features
mnb_tfidf=mnb.fit(tv_train_reviews,y_train)
print(mnb_tfidf)

MultinomialNB(alpha=1.0, class_prior=None, fit_prior=True)

In [41]:
mnb_tfidf_predict=mnb.predict(tv_test_reviews)

In [42]:
from sklearn.metrics import classification_report,confusion_matrix,accuracy_score

mnb_tfidf_score=accuracy_score(y_test,mnb_tfidf_predict)
print("mnb_tfidf_score :",mnb_tfidf_score)

mnb_tfidf_score : 1.0

In [47]:
cv=CountVectorizer(min_df=0,max_df=1,binary=False,ngram_range=(1,3))
#transformed train reviews
cv_train_reviews=cv.fit_transform(x_train)
#transformed test reviews
cv_test_reviews=cv.transform(x_test)

In [50]:
#training the model
mnb=MultinomialNB()
#fitting the nb for bag of words
mnb_bow=mnb.fit(cv_train_reviews,y_train)
print(mnb_bow)
#fitting the nb for tfidf features
mnb_tfidf=mnb.fit(tv_train_reviews,y_train)
print(mnb_tfidf)

MultinomialNB(alpha=1.0, class_prior=None, fit_prior=True)
MultinomialNB(alpha=1.0, class_prior=None, fit_prior=True)

In [51]:
#Predicting the model for bag of words
mnb_bow_predict=mnb.predict(cv_test_reviews)
#Predicting the model for tfidf features
mnb_tfidf_predict=mnb.predict(tv_test_reviews)

In [52]:
#Accuracy score for bag of words
mnb_bow_score=accuracy_score(y_test,mnb_bow_predict)
print("mnb_bow_score :",mnb_bow_score)
#Accuracy score for tfidf features
mnb_tfidf_score=accuracy_score(y_test,mnb_tfidf_predict)
print("mnb_tfidf_score :",mnb_tfidf_score)

mnb_bow_score : 1.0
mnb_tfidf_score : 1.0